*{
	
}

.navbar-fixed-top{
	background-color: #353535;
}

.nav{
	color: #fff;
	margin-left: 30px;
}

.nav a{
	color: #fff;
}

.clear{
	clear: both;
}

.nav ul li{
	position: relative;
}

.drop{
	position: absolute;
	left: 0;
	display: none;
	/*margin: 0 0 0 -10px;
	padding: 0px;*/
	list-style: none;
}

.drop li{
	background-color: rgba(53, 53, 53, 0.7);
	padding: 5px 30px;
	margin: 0 0 0 -30px;
	width: 150px;
}

a{
	color: #337ab7;
}
/*h2, h1{
	color: #D15151;
}*/